:host {
  display: block;
  height: 100%;
}

header {
  color: #222;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

main {
  padding: .75em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 75px;
  display: block;
  height: 100%;
}

h5 {
  text-align: center;
}

a {
  margin: 0 auto;
}

.col-xs-4 {
  text-align: center;
}
