header
  h5 Overview of week: {{(currentWeekOverview$|async)?.week}}/{{(currentWeekOverview$|async)?.year}}
  nav
    .container
      .row
        .col-xs-4
          a.btn.btn-primary((click)='previous()') Previous week
        .col-xs-4 
          a.btn.btn-primary((click)='next()') Next week
main
  my-week-view([overview]="currentWeekOverview$", [week]='selectedWeek$', (addAppointment)='addAppointment($event)', (removeAppointment)='removeAppointment($event)', (updateAppointment)='updateAppointment($event)')
