.row(*ngFor="let appointment of dayWithAppointments.appointments", (click)="onAdd()")
  | {{appointment.id}}
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row
.row