.row
  .col-xs-1.hour 
  .col-xs-1.day-of-week(*ngFor="let obj of days$|async")
    | {{obj.day.day}} - {{obj.day.day_name}}

.row.week
  .col-xs-1.times
    .row(*ngFor="let hour of hours")
      .hour {{hour}}

  .col-xs-1(*ngFor="let day of days$|async; trackBy tracker")
    my-day-detail(*ngIf='day', [dayWithAppointments]='day', (addAppointment)='addAppointment.emit($event)', (updateAppointment)='updateAppointment.emit($event)', (removeAppointment)='removeAppointment.emit($event)')
