.week {
  margin-bottom: .5rem;
}

.times {
  background-color: #fff;
  color: #222;
  border-right: 1px solid #666;
  .hour {
    width: 90%;
    text-align: right;
  }
  .row {
    height: 25px;
    max-height: 25px;
    border-bottom: 1px solid #666;
  }
}

.day-of-week {
  margin: 0 auto;
  background-color: #fff;
  color: #222;
}
